<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>GMS Group</title>
	<!--.css files -->
	<link rel="stylesheet" type="text/css" href="../assets/css/reset.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/slick.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/_fonts.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/style.css"/>
</head>
<body>
<div class="modal-backdrop"></div>
<div class="main-menu clearfix">
	<a class="close_menu" href="#"></a>
	<div class="position-menu">
		<div class="title_menu">меню</div>
		<nav>
			<ul class="menu_list">
				<li><a class="active" href="#">Главная</a></li>
				<li><a href="#">О компании</a></li>
				<li><a href="#">Услуги</a></li>
				<li><a href="#">Контакты</a></li>
			</ul>
		</nav>
		<div class="block_lng">
			<a href="#" class="active_lng">ru</a>
			<a href="#">en</a>
		</div>
		<ul class="list-socialLink">
			<li><a class="icon-f" href=""></a></li>
			<li><a class="icon-vk" href=""></a></li>
			<li><a class="icon-tw" href=""></a></li>
			<li><a class="icon-ok" href=""></a></li>
			<li><a class="icon-g" href=""></a></li>
		</ul>
	</div>
</div>

<a class="show_main-menu" href="#"></a>

<div id="main-overlay">
	<div class="baner-block">
		<div class="block-img"></div>
		<header>
			<div class="container">
				<div class="menu-box">
					<span class="menu"></span>
				</div>
				<div class="logo wow fadeInDown animated">
					<img src="../assets/img/logo.svg" alt="">
				</div>
			</div>
		</header>
		<div class="section_heading">
			<div class="container">
				<h1 class="wow fadeInUp animated">о компании</h1>
				<p class="subtitle fadeInUp animated" style="visibility: visible; animation-name: fadeInUp; animation-delay: 0.5s;">
					<span>Общее</span>
					<span>Обращение рукаводства</span>
				</p>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="section-content">
			<div class="block_quotes width__b">
				<div class="closest-events_i p-l color__b wow">
					<div class="line-1">
						<div class="line-2">
							Закрытое Акционерное Общество «Главмонолитстрой», входящее в структуру ОАО «Монолитное строительное управление-1», является одним из лидеров строительной отрасли России
						</div>
					</div>
				</div>
			</div>

			<div class="about-us clearfix">
				<div class="col_m about-us_text">
					<p>Основными принципами нашей работы вот уже на протяжении многих лет являются профессионализм, высокое качество предоставляемых услуг, комплекс ный подход, ориентация на пожелания заказчика.</p>
				</div>
				<div class="col_m about-us_text">
					<p>Использование в своей работе инновацион ных разработок, современных материалов, ши роких производственных мощностей позволили ЗАО<br/> «Главмонолитстрой» зарекомендовать себя<br/> как надёжного партнёра на рынке строительных услуг.</p>
				</div>
				<div class="col_m about-us_img">
					<img class="box-shadow-light" data-bottom-top="transform:translate(0,200px)" data-top-bottom="transform:translate(0,-100px)" src="../assets/img/img-7.png" alt="">
				</div>
			</div>
			<div class="block-team">
				<div class="block_img">
					<img class="box-shadow-light" data-bottom-top="transform:translate(0,50px)" data-top-bottom="transform:translate(0,-200px)" src="../assets/img/img-8.png" alt="">
				</div>

				<div class="block_quotes width__b">
					<div class="closest-events_i p-l color__b wow">
						<div class="line-1">
							<div class="line-2">
								Профессиональный штат сотрудников и современное оборудование позволяют нам выпускать конкурентоспособную продукцию, востребованную на рынке строительных товаров и услуг
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>

	</div>

	<div class="darck_arcticle">
		<div class="container">
			<div class="clearfix">
				<div class="col_m m-r">
					<div class="block_quotes">
						<div class="closest-events_i p-l color__w wow">
							<div class="line-1">
								<div class="line-2">
									<span class="title-descr">400+</span>
									<span class="descr">квалифицированных профессионалов в штате</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col_m m-r m-t-b">

					<div class="block_quotes">
						<div class="closest-events_i i_b_2 p-l color__w wow">
							<div class="line-1">
								<div class="line-2">
									<span class="title-descr">7+</span>
									<span class="descr">лет среди лидеров на строительном рынке</span>
								</div>
							</div>
						</div>
					</div>

				</div>
				<div class="col_m m-t-m">
					<div class="block_quotes">
						<div class="closest-events_i i_b_1 p-l color__w wow">
							<div class="line-1">
								<div class="line-2">
									<span class="title-descr">50+</span>
									<span class="descr">завершенных обьектов</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="block-partners clearfix">
				<div class="col-lg">
					<p class="color__w">
						Компания использует системы навесных вентилируемых фасадов: ZIAS, Волна, EUROFOX, Фасст
					</p>
					<p class="color__w">
						Производственные цеха оснащены современным оборудованием всемирно известных марок: Kaban, Yilmaz, Graule
					</p>
					<p class="color__w">
						Для изготовления светопрозрачных конструкций использууются комплектующие и фурнитуру таких мировых производителей, как: Rehau, GOODWIN, PROVEDAL, VORNE, СИАЛ, ТАТПРОФ, ALUTECH, RELIT, SIEGENIA-AUBI
					</p>
				</div>
				<div class="col-lg">
					<div class="logo_partners">
						<img class="style_img-1" data-bottom-top="transform:translate(0,5px)" data-top-bottom="transform:translate(0,-30px)" src="../assets/img/img-yilmaz.svg" alt="" />
						<img class="style_img-2" data-bottom-top="transform:translate(0,15px)" data-top-bottom="transform:translate(0,-40px)" src="../assets/img/img-siegenia.svg" alt="" />
						<img class="style_img-3" data-bottom-top="transform:translate(0,25px)" data-top-bottom="transform:translate(0,-10px)" src="../assets/img/img-zias.svg" alt="" />
						<img class="style_img-4" data-bottom-top="transform:translate(0,45px)" data-top-bottom="transform:translate(0,-50px)" src="../assets/img/img-kaban.svg" alt="" />
						<img class="style_img-5" data-bottom-top="transform:translate(0,65px)" data-top-bottom="transform:translate(0,-20px)" src="../assets/img/img-rehau.svg" alt="" />
						<img class="style_img-6" data-bottom-top="transform:translate(0,15px)" data-top-bottom="transform:translate(0,-30px)" src="../assets/img/img-vorne.svg" alt="" />
						<img class="style_img-7" data-bottom-top="transform:translate(0,25px)" data-top-bottom="transform:translate(0,-70px)" src="../assets/img/img-tatprof.svg" alt="" />
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="container">
		<div class="section-content">
			<div class="block-team_1">
				<div class="block_img">
					<img class="box-shadow-light" data-bottom-top="transform:translate(0,100px)" data-top-bottom="transform:translate(0,-150px)" src="../assets/img/img-9.png" alt="">
				</div>

				<div class="block_quotes width__b">
					<div class="closest-events_i i_b_1 p-l color__b wow">
						<div class="line-1">
							<div class="line-2">
								Мы с гордостью можем сказать, что способны придумать и воплотить в жизнь эффективные решения для практически любого требования клиента, основанного на физических и технических особенностях здания, на котором будет производиться монтаж светопрозрачных конструкций
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<footer>
		 <div class="container">
			<ul class="footer-menu">
				<li><a href="">Главная</a></li>
				<li><a href="">О компании</a></li>
				<li><a href="">Услуги</a></li>
				<li><a href="">Галерея</a></li>
				<li><a href="">Контакты</a></li>
			</ul>
			<p>г. Москва, ул. Ольховская, 49</p>
			<p>+7 495 286 76 34</p>
			<p>info@gms.group</p>
			 <div class="copyRightWrapper">
				 <span>2018 © GMS.GROUP</span>
				 <ul class="list-socialLink">
					 <li><a class="icon-f" href=""></a></li>
					 <li><a class="icon-vk" href=""></a></li>
					 <li><a class="icon-tw" href=""></a></li>
					 <li><a class="icon-ok" href=""></a></li>
					 <li><a class="icon-g" href=""></a></li>
				 </ul>

			 </div>
		</div>
	</footer>
</div>
<script type="text/javascript" src="../assets/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../assets/js/wow.min.js"></script>
<script type="text/javascript" src="../assets/js/skrollr.min.js"></script>
<script type="text/javascript" src="../assets/js/countUp.js"></script>
<script type="text/javascript" src="../assets/js/slick.min.js"></script>
<script type="text/javascript" src="../assets/js/custom.js"></script>
</body>
</html>