<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>GMS Group</title>
	<!--.css files -->
	<link rel="stylesheet" type="text/css" href="../assets/css/reset.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/slick.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/_fonts.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/style.css"/>
</head>
<body>
<div class="modal-backdrop"></div>
<div class="main-menu clearfix">
	<a class="close_menu" href="#"></a>
	<div class="position-menu">
		<div class="title_menu">меню</div>
		<nav>
			<ul class="menu_list">
				<li><a class="active" href="#">Главная</a></li>
				<li><a href="#">О компании</a></li>
				<li><a href="#">Услуги</a></li>
				<li><a href="#">Контакты</a></li>
			</ul>
		</nav>
		<div class="block_lng">
			<a href="#" class="active_lng">ru</a>
			<a href="#">en</a>
		</div>
		<ul class="list-socialLink">
			<li><a class="icon-f" href=""></a></li>
			<li><a class="icon-vk" href=""></a></li>
			<li><a class="icon-tw" href=""></a></li>
			<li><a class="icon-ok" href=""></a></li>
			<li><a class="icon-g" href=""></a></li>
		</ul>
	</div>
</div>
<a class="show_main-menu" href="#"></a>
	<div class="modal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="clearfix">
					<div class="single-title">
						<span class="color__b">Написать нам</span>
					</div>
					<a class="close_modal" href="#"></a>
				</div>
				<form action="">
					<div class="form-group clearfix">
						<div class="input-group">
							<input type="text" class="form-control error" name="name" id="name" placeholder="Иван Дорн">
							<span class="form-text_error">Error</span>
						</div>
						<div class="input-group">
							<input type="email" class="form-control clearfix" name="email" id="email" placeholder="Email">
							<span class="form-text_error">Error</span>
						</div>
					</div>
					<div class="form-group">
						<textarea name="comment" class="form-control" id="comments" cols="2" rows="5" placeholder="Введите сообщение"></textarea>
						<span class="form-text_error">Error</span>
					</div>
					<button name="submit" type="submit" class="btn" id="submit"><span>Отправить</span></button>
				</form>
			</div>
		</div>
	</div>

<div id="main-overlay">
	<div id="box-overlay">
	<div class="baner-block">
		<div class="block-img"></div>
		<header>
			<div class="container">
				<div class="menu-box">
					<span class="menu"></span>
				</div>
				<div class="logo wow fadeInDown animated">
					<img src="../assets/img/logo.svg" alt="">
				</div>
			</div>
		</header>
		<div class="section_heading">
			<div class="container">
				<h1 class="banerInfo wow fadeInUp animated">Контакты</h1>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="contact-content">
			<div class="clearfix">
				<div class="block-contact">
					<h4>АДРЕС</h4>
					<span>г. Москва, ул. Ольховская, 49</span>
					<h4>ТЕЛЕФОН</h4>
					<span>+7 (495) 286-76-34</span>
					<h4>E-MAIL</h4>
					<span>info@gms.group</span>
					<a class="btn color__b btn_showmodal" href="#">
						<span>написать нам</span>
					</a>
				</div>

				<div class="map">
					<script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A053bd947d462cc1a45aeba4070defff75501905071c0eaf68436ac9976ec698c&amp;width=100%&amp;height=330"></script>
				</div>
			</div>
		</div>
	</div>
	<footer>
		 <div class="container">
			<ul class="footer-menu">
				<li><a href="">Главная</a></li>
				<li><a href="">О компании</a></li>
				<li><a href="">Услуги</a></li>
				<li><a href="">Галерея</a></li>
				<li><a href="">Контакты</a></li>
			</ul>
			<p>г. Москва, ул. Ольховская, 49</p>
			<p>+7 495 286 76 34</p>
			<p>info@gms.group</p>
			 <div class="copyRightWrapper">
				 <span>2018 © GMS.GROUP</span>
				 <ul class="list-socialLink">
					 <li><a class="icon-f" href=""></a></li>
					 <li><a class="icon-vk" href=""></a></li>
					 <li><a class="icon-tw" href=""></a></li>
					 <li><a class="icon-ok" href=""></a></li>
					 <li><a class="icon-g" href=""></a></li>
				 </ul>

			 </div>
		</div>
	</footer>
</div>
</div>
<script type="text/javascript" src="../assets/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../assets/js/wow.min.js"></script>
<script type="text/javascript" src="../assets/js/skrollr.min.js"></script>
<script type="text/javascript" src="../assets/js/countUp.js"></script>
<script type="text/javascript" src="../assets/js/slick.min.js"></script>
<script type="text/javascript" src="../assets/js/custom.js"></script>
</body>
</html>