<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>GMS Group</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
	<!--.css files -->
	<link rel="stylesheet" type="text/css" href="../assets/css/reset.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/slick.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/_fonts.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/style.css"/>
</head>
<body>
<div class="modal-backdrop"></div>
<div class="main-menu clearfix">
	<div class="position-menu">
		<div class="title_menu">меню</div>
		<nav>
			<ul class="menu_list">
				<li><a class="active" href="#">Главная</a></li>
				<li><a href="#">О компании</a></li>
				<li><a href="#">Услуги</a></li>
				<li><a href="#">Контакты</a></li>
			</ul>
		</nav>
		<div class="block_lng">
			<a href="#" class="active_lng">ru</a>
			<a href="#">en</a>
		</div>
		<ul class="list-socialLink">
			<li><a class="icon-f" href=""></a></li>
			<li><a class="icon-vk" href=""></a></li>
			<li><a class="icon-tw" href=""></a></li>
			<li><a class="icon-ok" href=""></a></li>
			<li><a class="icon-g" href=""></a></li>
		</ul>
	</div>
</div>

<div class="show_main-menu" id="nav-icon1">
	<span></span>
	<span></span>
	<span></span>
</div>

<div id="main-overlay">

	<div class="baner-block">
					<!--<div class="block-img"></div>-->
					<div class="video-block">
						<video id="looped-vid" preload="none" autoplay loop>
							<source src="../assets/video/bg_movie.mp4" type="video/mp4">
						</video>
					</div>
					<header>
						<div class="container">
							<div class="menu-box">
								<span class="menu"></span>
							</div>
							<div class="logo main wow fadeInDown animated">
								<img src="../assets/img/logo.svg" alt="">
							</div>
						</div>
					</header>
					<div class="section_heading">
						<div class="container">
							<ul class="list-header">
								<li class="color__w wow fadeInUp animated">Производство и монтаж светопрозрачных конструкций</li>
								<li class="color__w wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp; animation-delay: 0.5s;">Кровля и благоустройство</li>
								<li class="color__w wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp; animation-delay: 0.7s;">Монтаж фасадов</li>
							</ul>
						</div>
					</div>
				</div>

	<div class="container">
			<div class="our-services" >
				<div class="block_quotes p-a-1">
					<div class="closest-events_i p-l color__b wow">
						<div class="line-1">
							<div class="line-2">
								<div><span class="title-descr" id="count_people">400</span><span class="title-descr">+</span></div>
								<span class="descr">квалифицированных профессионалов в штате</span>
							</div>
						</div>
					</div>
				</div>
				<div class="block_quotes  p-a-3">
					<div class="closest-events_i p-l color__b wow">
						<div class="line-1">
							<div class="line-2">
								<div><span class="title-descr" id="count_years">7</span><span class="title-descr">+</span></div>
								<span class="descr">лет среди лидеров на строительном рынке</span>
							</div>
						</div>
					</div>
				</div>
				<div class="block_quotes  p-a-2">
					<div class="closest-events_i p-l color__b wow">
						<div class="line-1">
							<div class="line-2">
								<div><span class="title-descr" id="count_objects">50</span><span class="title-descr">+</span></div>
								<span class="descr">завершенных обьектов</span>
							</div>
						</div>
					</div>
				</div>
				<div class="p_img-1">
					<img class="box-shadow-light" data-bottom-top="transform:translate(0,100px)" data-top-bottom="transform:translate(0,-100px)" src="../assets/img/img-2.png" alt="">
				</div>
				<div class="p_img-2">
					<img class="box-shadow-light" data-bottom-top="transform:translate(0,50px)" data-top-bottom="transform:translate(0,-200px)" src="../assets/img/img-1.png" alt="">
				</div>
				<div class="p_img-3">
					<img class="box-shadow-light" data-bottom-top="transform:translate(0,200px)" data-top-bottom="transform:translate(0,-100px)" src="../assets/img/img-3.png" alt="">
				</div>
			</div>
	</div>

	<div class="darck_arcticle">
			<div class="container">
				<div class="block_company-principles">
					<span class="title-principles">
						Основные принципы компании
					</span>
					<div class="principles_img" data-bottom-top="transform:translate(0,200px)" data-top-bottom="transform:translate(0,-100px)">
						<img class="box-shadow-darck" src="../assets/img/img-4.png" alt="">
					</div>
					<div class="block_quotes p-p-1">
						<div class="closest-events_i p-m wow">
							<div class="line-1">
								<div class="line-2">
									<span class="color__w">Профессионализм</span>
								</div>
							</div>
						</div>
					</div>

					<div class="block_quotes p-p-2">
						<div class="closest-events_i p-m wow">
							<div class="line-1">
								<div class="line-2">
									<span class="color__w">Комплексный подход</span>
								</div>
							</div>
						</div>
					</div>

					<div class="block_quotes p-p-3">
						<div class="closest-events_i p-m wow">
							<div class="line-1">
								<div class="line-2">
									<span class="color__w">Высокое качество услуг</span>
								</div>
							</div>
						</div>
					</div>

					<div class="block_quotes p-p-4">
						<div class="closest-events_i  p-m wow">
							<div class="line-1">
								<div class="line-2">
									<span class="color__w">Ориентация на заказчика</span>
								</div>
							</div>
						</div>
					</div>

				</div>
				<div class="clearfix">
					<div class="col_s">
						<p class="color__w">Регулярная переподготовка своих кадров по программам повышения квалификации</p>
					</div>
					<div class="col_s">
						<p class="color__w">Помощь и поддержка детского и юношеского спорта, учреждений здравоохранения</p>
					</div>
					<div class="col_sr">
						<a class="btn color__w" href="#">
							<span>О компании</span>
						</a>
					</div>
				</div>
				<div class="block-notifications">
					<div class="block_quotes pp-l">
						<div class="closest-events_i p-l wow">
							<div class="line-1">
								<div class="line-2">
									<span class="color__w">Член Саморегулируемой организации Ассоциации строительных компаний «Межрегиональный строительный комплекс»</span>
								</div>
							</div>
						</div>
					</div>

					<div class="block_quotes pp-r">
						<div class="closest-events_i p-l wow">
							<div class="line-1">
								<div class="line-2">
									<span class="color__w">Сертифицировно в соответствии Системы Менеджмента Качества требованиям ISO 9001:2008</span>
								</div>
							</div>
						</div>
					</div>

					<img class="" src="../assets/img/img-5.png" alt="" />

				</div>
			</div>
		</div>

	<div class="container">
	<div class="section-content">
		<div class="section-body ">
			<section>
				<div class="single-title title-main wow">
					<span>Комплекс <br/> услуг</span>
				</div>
			</section>

			<div class="clearfix">
				<div class="float-item-left">
					<p class="color__b">Возведение современных вентилируемых фасадов и фасадов «мокрого» типа</p>
				</div>
				<div class="float-item-left">
					<p class="color__b">Производство и монтаж алюминиевых витражей, ПВХ и алюминиевых окон, зенитных фонарей</p>
				</div>
				<div class="float-item-right">
					<a class="btn color__b" href="#">
						<span>Услуги</span>
					</a>
				</div>
			</div>

			<div class="position-img" data-bottom-top="transform:translate(0,100px)" data-top-bottom="transform:translate(0,-50px)">
				<img class="box-shadow-light" src="../assets/img/img-6.png" alt="">
			</div>
		</div>

		<div class="block_gallery">
			<div class="single-title wow">
				<span>Галерея</span>
			</div>
			<div class="block_bg_main" data-bottom-top="transform:translate(0,60px)" data-top-bottom="transform:translate(0,-120px)">
				<img src="../assets/img/union.png" alt="">
			</div>
			<div class="block_slider box-shadow-light">
				<div class="slick-slider">
					<div><img src="../assets/img/slide_1.png" alt=""></div>
					<div><img src="../assets/img/slide_1.png" alt=""></div>
					<div><img src="../assets/img/slide_1.png" alt=""></div>
					<div><img src="../assets/img/slide_1.png" alt=""></div>
				</div>
				<div class="gallery-page-info"></div>
			</div>

			<div class="btn-all-works">
				<a class="btn color__b" href="#">
					<span>Все работы</span>
				</a>
			</div>
		</div>


	</div>
	</div>

	<footer>
		<div class="container">
			<ul class="footer-menu">
				<li><a href="">Главная</a></li>
				<li><a href="">О компании</a></li>
				<li><a href="">Услуги</a></li>
				<li><a href="">Галерея</a></li>
				<li><a href="">Контакты</a></li>
			</ul>
			<p>г. Москва, ул. Ольховская, 49</p>
			<p>+7 495 286 76 34</p>
			<p>info@gms.group</p>
			<div class="copyRightWrapper">
				<span>2018 © GMS.GROUP</span>
				<ul class="list-socialLink">
					<li><a class="icon-f" href=""></a></li>
					<li><a class="icon-vk" href=""></a></li>
					<li><a class="icon-tw" href=""></a></li>
					<li><a class="icon-ok" href=""></a></li>
					<li><a class="icon-g" href=""></a></li>
				</ul>

			</div>
		</div>
	</footer>


</div>

<script type="text/javascript" src="../assets/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../assets/js/wow.min.js"></script>
<script type="text/javascript" src="../assets/js/skrollr.min.js"></script>
<script type="text/javascript" src="../assets/js/countUp.js"></script>
<script type="text/javascript" src="../assets/js/slick.min.js"></script>
<script type="text/javascript" src="../assets/js/custom.js"></script>
</body>
</html>