<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>GMS Group</title>
	<!--.css files -->
	<link rel="stylesheet" type="text/css" href="../assets/css/reset.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/slick.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/_fonts.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/style.css"/>
</head>
<body>
<div class="modal-backdrop"></div>
<div class="main-menu clearfix">
	<a class="close_menu" href="#"></a>
	<div class="position-menu">
		<div class="title_menu">меню</div>
		<nav>
			<ul class="menu_list">
				<li><a class="active" href="#">Главная</a></li>
				<li><a href="#">О компании</a></li>
				<li><a href="#">Услуги</a></li>
				<li><a href="#">Контакты</a></li>
			</ul>
		</nav>
		<div class="block_lng">
			<a href="#" class="active_lng">ru</a>
			<a href="#">en</a>
		</div>
		<ul class="list-socialLink">
			<li><a class="icon-f" href=""></a></li>
			<li><a class="icon-vk" href=""></a></li>
			<li><a class="icon-tw" href=""></a></li>
			<li><a class="icon-ok" href=""></a></li>
			<li><a class="icon-g" href=""></a></li>
		</ul>
	</div>
</div>

<a class="show_main-menu" href="#"></a>

<div id="main-overlay">
	<div class="baner-block">
		<div class="block-img"></div>
		<header>
			<div class="container">
				<div class="menu-box">
					<span class="menu"></span>
				</div>
				<div class="logo wow fadeInDown animated">
					<img src="../assets/img/logo.svg" alt="">
				</div>
			</div>
		</header>
		<div class="section_heading">
			<div class="container">
				<h1 class="banerInfo wow fadeInUp animated">Услуги</h1>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="section-content">
			<div class="single-title wow">
				<span>Монтаж фасадных систем</span>
			</div>
			<div class="articlesArea">
				<div class="article-block_text">
					<p>Появившись в России, вентилируемые фасады сразу завоевали популярность у архитекторов, строителей и заказчиков. Конструкция системы вентилируемого фасада состоит из защитно-декоративной облицовочной части, которая монтируется на некотором расстоянии от стены. Воздушный промежуток позволяет значительно поднять защитные свойства всей системы, куда входит и особое теплоизолирующее покрытие на стене строительного объекта.</p>
				</div>
				<div class="article-block_img">
					<img class="box-shadow-light" data-bottom-top="transform:translate(0,50px)" data-top-bottom="transform:translate(0,-200px)"  src="../assets/img/img-10.png" alt="">
				</div>
				<div class="block_quotes width__b">
					<div class="closest-events_i p-l wow">
						<div class="line-1">
							<div class="line-2">
								<span class="color__b">Наша компания использует такие системы навесных вентилируемых фасадов, как ZIAS, Волна, EUROFOX и Фасст</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="articlesArea_2">
				<div class="article-block_img_2">
					<img class="box-shadow-light" data-bottom-top="transform:translate(0,200px)" data-top-bottom="transform:translate(0,-100px)" src="../assets/img/img-11.png" alt="">
				</div>
				<div class="article-block_text_2">
					<p>
						В последнее время не меньшую популярность получает монтаж фасада с тонким штукатурным слоем или «мокрый фасад». Хотя фасад называется «мокрым», сразу необходимо отметить, что лишней воды в нем нет. Свое название он получил только потому, что в самом начале работы штукатурное покрытие разводится водой. Технология предполагает особое системное крепление всех компонентов в строго определенной последовательности: основа, затем плитный утеплитель, который устанавливается на клеевую прослойку. Далее монтируется армирующая стеклосетка, а затем наступает завершающий этап системы «мокрый фасад» – отделка.
					</p>
				</div>
				<div class="block_quotes width__b">
					<div class="closest-events_i p-l wow">
						<div class="line-1">
							<div class="line-2">
								<span class="color__b">Мы производим различные виды фасадных работ любой сложности и предлагаем услуги по отделке «под ключ»</span>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>


	</div>

	<div class="darck_arcticle">
		<div class="container">
			<h2>
				Производство и монтаж светопрозрачных конструкций
			</h2>
			<div class="articlesArea">
				<div class="article-block_text">
					<p>ЗАО «Главмонолитстрой» имеет собственное производство по изготовлению светопрозрачных конструкций из ПВХ и алюминия в г. Лобне Московской обл.</p>
				</div>
				<div class="article-block_img">
					<img class="box-shadow-darck" data-bottom-top="transform:translate(0,200px)" data-top-bottom="transform:translate(0,-100px)" src="../assets/img/img-12.png" alt="">
				</div>

				<div class="block_quotes width__b">
					<div class="closest-events_i p-l wow">
						<div class="line-1">
							<div class="line-2">
								<span class="color__w">Для изготовления светопрозрачных конструкций мы используем комплектующие и фурнитуру мировых производителей, а наши производственные цеха оснащены современным оборудованием всемирно известных марок</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="articlesArea">
				<div class="article-block_text">
					<p>
						Качество наших изделий и предоставляемых услуг подтверждено соответствующими сертификатами и лицензиями, а также постоянно действующей на предприятии системой контроля, охватывающей весь производственный цикл.
					</p>
				</div>
			</div>
			<div class="boxFeature clearfix">
				<div class="col-lg">
					<div class="block_quotes display">
						<div class="closest-events_i p-l wow">
							<div class="line-1">
								<div class="line-2">
									<span class="color__w">Окна и двери из ПВХ и алюминия</span>
								</div>
							</div>
						</div>
					</div>

					<div class="block_quotes m-l-1">
						<div class="closest-events_i i_b_2 p-l wow">
							<div class="line-1">
								<div class="line-2">
									<span class="color__w">Зимние сады</span>
								</div>
							</div>
						</div>
					</div>

					<div class="block_quotes m-l-2">
						<div class="closest-events_i p-l wow">
							<div class="line-1">
								<div class="line-2">
									<span class="color__w">Зенитные фонари</span>
								</div>
							</div>
						</div>
					</div>

				</div>
				<div class="col-lg">
					<div class="block_quotes display">
						<div class="closest-events_i p-l i_b_2 wow">
							<div class="line-1">
								<div class="line-2">
									<span class="color__w">Алюминиевые светопрозрачные фасады</span>
								</div>
							</div>
						</div>
					</div>

					<div class="block_quotes m-l-3 display">
						<div class="closest-events_i p-l wow">
							<div class="line-1">
								<div class="line-2">
									<span class="color__w">Офисные перегородки</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="clearfix">
				<div class="article-block_img_3">
					<img class="box-shadow-darck" data-bottom-top="transform:translate(0,100px)" data-top-bottom="transform:translate(0,-50px)" src="../assets/img/img-13.png" alt="">
				</div>
				<div class="article-block_text_3">
					<p>Монтаж светопрозрачных конструкций представляет собой один из самых важных этапов работы. Только правильная установка светопрозрачных конструкций позволяет гарантировать тепло- и звукоизоляцию помещения.</p>
					<p>
						Использование в своей работе инновацион ных разработок, современных материалов, ши роких производственных мощностей позволили ЗАО «Главмонолитстрой» зарекомендовать себя как надёжного партнёра на рынке строительных услуг.
					</p>
				</div>

			</div>
			<div class="articlesArea_4">
				<div class="article-block_img_4">
					<img class="box-shadow-darck" data-bottom-top="transform:translate(0,50px)" data-top-bottom="transform:translate(0,-100px)" src="../assets/img/img-14.png" alt="">
				</div>
				<div class="block_quotes display">
					<div class="closest-events_i p-l wow">
						<div class="line-1">
							<div class="line-2">
								<span class="color__w">Мы предоставляем гарантию на все производимые работы и поставляемые материалы, осуществляем гарантийное и послегарантийное обслуживание</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<footer>
		 <div class="container">
			<ul class="footer-menu">
				<li><a href="">Главная</a></li>
				<li><a href="">О компании</a></li>
				<li><a href="">Услуги</a></li>
				<li><a href="">Галерея</a></li>
				<li><a href="">Контакты</a></li>
			</ul>
			<p>г. Москва, ул. Ольховская, 49</p>
			<p>+7 495 286 76 34</p>
			<p>info@gms.group</p>
			 <div class="copyRightWrapper">
				 <span>2018 © GMS.GROUP</span>
				 <ul class="list-socialLink">
					 <li><a class="icon-f" href=""></a></li>
					 <li><a class="icon-vk" href=""></a></li>
					 <li><a class="icon-tw" href=""></a></li>
					 <li><a class="icon-ok" href=""></a></li>
					 <li><a class="icon-g" href=""></a></li>
				 </ul>

			 </div>
		</div>
	</footer>
</div>

<script type="text/javascript" src="../assets/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../assets/js/wow.min.js"></script>
<script type="text/javascript" src="../assets/js/skrollr.min.js"></script>
<script type="text/javascript" src="../assets/js/countUp.js"></script>
<script type="text/javascript" src="../assets/js/slick.min.js"></script>
<script type="text/javascript" src="../assets/js/custom.js"></script>
</body>
</html>